
iqiunaPlayer.xcodeproj/xcuserdata/jiangguangxiang.xcuserdatad/xcschemes/iqiunaPlayer.xcscheme
iqiunaPlayer.xcodeproj/xcuserdata/jiangguangxiang.xcuserdatad/xcschemes/xcschememanagement.plist
iqiunaPlayer.xcworkspace/xcuserdata/jiangguangxiang.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Manifest.lock
Pods/Pods.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/xcuserdata/jiangguangxiang.xcuserdatad/xcschemes/Pods-iqiunaPlayer.xcscheme
Pods/Pods.xcodeproj/xcuserdata/jiangguangxiang.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Target Support Files/Pods-iqiunaPlayer/Pods-iqiunaPlayer-acknowledgements.markdown
Pods/Target Support Files/Pods-iqiunaPlayer/Pods-iqiunaPlayer-acknowledgements.plist
Pods/Target Support Files/Pods-iqiunaPlayer/Pods-iqiunaPlayer-dummy.m
Pods/Target Support Files/Pods-iqiunaPlayer/Pods-iqiunaPlayer-frameworks.sh
Pods/Target Support Files/Pods-iqiunaPlayer/Pods-iqiunaPlayer-resources.sh
Pods/Target Support Files/Pods-iqiunaPlayer/Pods-iqiunaPlayer.debug.xcconfig
Pods/Target Support Files/Pods-iqiunaPlayer/Pods-iqiunaPlayer.release.xcconfig
iqiunaPlayer.xcworkspace/xcuserdata/jiangguangxiang.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
