
iqiunaPlayer.xcodeproj/xcuserdata/jiangguangxiang.xcuserdatad/xcschemes/iqiunaPlayer.xcscheme
iqiunaPlayer.xcodeproj/xcuserdata/jiangguangxiang.xcuserdatad/xcschemes/xcschememanagement.plist
iqiunaPlayer.xcworkspace/xcuserdata/jiangguangxiang.xcuserdatad/UserInterfaceState.xcuserstate
